/*
	REF: Paleta de colores: http://www.colourlovers.com/palette/1811365/youth_of_the_nation
*/

.gris {
    background-color: #DFE2E6;
}

.amarillo {
    background-color: #FEC52E;
}

.rojo {
    background-color: #EC4338;
}

.azul {
    background-color: #1076B9;
}

.blanco {
    color: white;
}

.enlace a:link, .enlace a:visited, .enlace a:hover, .enlace a:active {
    color: #1076B9;
}

.titular a:link, .titular a:visited, .titular a:hover, .titular a:active {
    color: black;
    text-decoration: none;
}
