/*
	REF: Paleta de colores: http://www.colourlovers.com/palette/1811365/youth_of_the_nation
*/

.gris {
    background-color: #DFE2E6;
}

.amarillo {
    background-color: #FEC52E;
}

.rojo {
    background-color: #EC4338;
}

.azul {
    background-color: #1076B9;
}

.blanco {
    color: white;
}
