<footer class="site-footer h-card">
    <div class="wrapper">
        <div class="footer-col-wrapper">
            <div class="footer-col">
                <p>&copy;
                    <script type="text/javascript">document.write(new Date().getFullYear());</script>
                    {{ site.author | escape }}
                </p>
            </div>
            <div class="footer-col" style="float:right">
                <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"
                   title="Este sitio web está bajo una licencia de Creative Commons Reconocimiento 4.0 Internacional">
                    <img alt="Licencia de Creative Commons" style="border-width:0"
                         src="/images/by.svg"/>
                </a>
            </div>
        </div>
    </div>
</footer>
